html {
    font-size: xx-large;
}

header H1 {
    width: 100%;
    text-align: center;
}

body {
    margin-bottom: 30px;
}


form {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#inputArea {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
}

#inputArea .courts{
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}

.courts>p{
    margin: 0;
}

#inputPlayerArea {
    width: 100%;
    
}
div.row {
    width: 100%;
    height: 48px;
    margin-top: 10px;
    display: flex;
    justify-content: space-evenly;
}
#inputPlayerArea .row>p{
    width: 20%;
    white-space: nowrap;
}
#inputPlayerArea .row>input{
    width: 50%;
    white-space: nowrap;
}
#inputPlayerArea .row>button{
    width: 20%;
}



input {
    font-size: large;
}

.row>p {
    margin: 0;
    margin-right: 10px;
}

#result{
    margin-top: 20px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.resultRow {
    width: 100%;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
}

.resultRow>.groupRow {
    display: flex;
    justify-content: center;
}

.groupRow>p {
    padding-left: 10px;
    margin: 0;
}

#buttons {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
}

#buttons button {
    margin-top: 10px;
    height: 50px;
    font-size: 30px;
    width: 100%;
}

#alert {
    color: red;
}

.kyukei{
    margin: 0;
}
#result>table {
    font-size: large;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}

#result>table, th, td {
    border: 1px solid black;
    margin-top: 40px;
  }

  /* 奇数行目の色 */
  #result tr:nth-child(odd) {
    background-color: #f2f2f2; /* グレー */
  }

  /* 偶数行目の色 */
  #result tr:nth-child(even) {
    background-color: #ffffff; /* 白 */
  }