<!DOCTYPE html>
<html lang="jp">

<head>
    <meta charset="UTF-8">
    <title>new version</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/newVersion.css') }}">
</head>


<body>
    <header>
        <h1>バドミントングループ分け</h1>
    </header>
    <form>
        <div class="container">
            <p class="displayText">使用可能コート数</p>
            <div class="counter-box">
                <button type="button" class="btn" onclick="decrease()">−</button>
                <input type="text" id="counter" class="input-box" value="0" name="groups_per_week" readonly>
                <button type="button" class="btn" onclick="increase()">+</button>
            </div>
        </div>

        <div class="container">
            <div class="layer-1">
                <div id="show-behind">
                    <button id="show-behind-img" type="button" onclick="scrollToRight()"></button>
                </div>
                <div id="name-card-container">
                    <div class="name-area">
                        <button class="delete-button" type="button" onclick="deletePlayer(this)"></button>
                        <div class="show-message">名前を入力してください</div>
                        <div class="show-player-num">player 1</div>
                        <div class="input-name-area">
                            <input type="text" name="player1">
                        </div>
                    </div>
                </div>

                <div id="add-next">
                    <button id="add-player" onclick="addNameArea()" type="button"></button>
                    <button id="scrollToLeft" type="button" hidden></button>
                </div>
            </div>

            <div class="layer-2">
                <div id="added-players">
                    <div id="show-message-player">プレーヤー数</div>
                    <div id="show-added-player-num">1</div>
                </div>
            </div>
            <div class="layer-3">
                <div id="errorMessage">
                    <p id="needMorePlayer" hidden>プレーヤーを追加してください！！</p>
                    <p id="needFillBlanc" hidden>名前が入力されていない要素があります！！</p>
                    <p id="duplication" hidden>名前が重複しています！！</p>
                </div>
            </div>
            <div class="layer-4">
                <button id="register-button" disabled="true" type="button" class="deactive" onclick="submitData()">登録する</button>
            </div>
        </div>
    </form>
    <div id="result"></div>
    <script src="{{ url_for('static', filename='js/newVersion.js') }}"></script>
</body>

</html>